
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
.container{
 width: 80%;
 margin: auto;
 min-height: 100vh;
} */

.center{
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.niceFont{
  font-family: 'Architects Daughter', cursive;
}

.square{
  margin: 0%;
  width: 80px;
  height: 80px;
  background:burlywood;
  border: 2px solid green;
}

.squareIcon{
  margin: auto;
  padding: 0;
  width: 40px;
  height: 40px;
}

.cell{
  color: white;
  background:green;
  margin: 0;
  padding: 0;
}

.row{
display: flex;
flex-wrap: nowrap;
}

.together{
  display: flex;
  justify-content: space-around;
}

.icon{
  width: 20px;
}

.board{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
}

.logo{
  width: 150px;
  height: 150px;
}

/* MY Style CSS */
/* game */
.game {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.info{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);

  flex-direction: row;
  margin: 0 auto;
}
.info1{
  position: absolute;
  top:2%;
  left: 2%;
  transform: translate(-80% , -70%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
/* Main Header of tic toc toe */
.main-header{
    width: 80%;
    margin: auto;
    min-height: 100vh;
}
.container{
  width: 300px;
}

img {
  height: 200px;

}

.img1{
  height: 20px;
}

.TitleGame{
  font-family: 'Titillium Web', sans-serif
}
.status{
  padding: 0%;
} 


.NameX { 

  font-family:"architects Daughter", cursive
 
}
.NameO{
  font-family:"architects Daughter", cursive
}

.button-row
{
  justify-content: center;
  padding-top: 15px;
}

.main-header
{
  text-align: center;
}

.main-button
{
  margin-bottom: 15px;
}
.TicToc {
  color:black;
  justify-content: space-between;
  display: inline-block;
  text-decoration-style: unset;
  font-family:"Architects Daughter",cursive;


}
.TicHeader{
 display:inline-block
}
.start{
  font-family:"Architects Daughter",cursive;
}